@import url(././assets/sass/index.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --primary-color: #000;
  --secondry-color: red;
}

.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", serif;
}

.layoutMiddle.sidebar-open {
  margin-left: 250px;
}

.background_changer{
  position: fixed;
  right: 10px;
  background: transparent;
  border-radius: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.background_changer button{
  display: block;
  width: 100%;
}



.menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.form-group input{
  width: 100%;
  border: 1px solid #000;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 26px;
}

.menu-icon:hover {
  color: #e0e0e0;
}

.content {
  /* margin-left: 250px; */
  padding: 20px;
  margin-top: 30px; /* To prevent overlap with the header */
  transition: margin-left 0.3s ease;
}

.content h1 {
  margin-bottom: 20px;
}

.sidebar.open + .content {
  margin-left: 250px; /* Push the content when sidebar is open */
}

@media (max-width: 768px) {
  .sidebar.open{
    width: 80px !important;
    left: 0px !important;
  }

  .layoutMiddle.sidebar-open{
    margin-left: 70px;
  }

  .content {
    margin-left: 80px;
  }

  .menu-icon {
    font-size: 22px;
  }
}

.service-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-panel h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.innerPanel{
  background: #fff;
  box-shadow: 0px 0px 2px 1px var(--primary-color);
    padding: 10px !important;
}

.innerPanel .customBtn{
  background: #000;
  color: #fff;
  padding: 10px;
}

.innerPanel .customBtn:hover{
  background: #fff;
  border: 1px solid var(--primary-color);
}

.headerMenu button{
  color:#fff;
  padding: 0px;
    border: none;
}

/* userbuyer */
  .effect{
    background: var(--primary-color);
    color: #fff;
  }

  .effect .MuiAccordionSummary-expandIconWrapper .css-1umw9bq-MuiSvgIcon-root{
    fill: #fff;
  }

/* userbuyer */